* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Agar padding tidak menambah lebar elemen */
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: sans-serif;
}
p {
  font-size: 40px;
  padding: 0px 20px 30px 20px;
}
.awalan {
  padding-top: 30px;
}
.foto-profil {
  width: 100%;
}

ul {
  font-size: 40px;
  padding: 0 0 30px 80px;
}
.biodata {
  list-style-type: none;
  padding: 0 0 30px 20px;
}
.ikon {
  width: 100px;
  height: auto;
  padding-left: 20px;
  padding-bottom: 20px;
}
h2 {
    font-size: 50px;
    padding: 20px;
}

.navbar {
   position: fixed;
   display: inline-block;
   z-index: 100;
   top:5px;
   right:5px;
   width: fit-content;
}
  button {
    position: relative;
    display: block;
    padding: 20px 30px 0 20px;
    background: none;
    border: none;
    font-size: 50px;
    color: black;
    z-index: 2;
  }
  .navbar:focus-within button {
    position: relative;
    z-index: 2;
  }
  .navbar-konten {
    display: none;
    position: relative;
    width: 180px;
    min-height: 200px;
    z-index: 1;
    top: -66px;
    right: -5px;
  }
  .navbar-konten.active {
    position: relative;
    display: block;
    background: white;
    padding-bottom: 20px;
    padding-top: 10px;
    border-radius: 8px 8px 8px 8px;
    z-index: 1;
  }
    
  .link-navbar {
    font-size: 30px;
    margin-bottom: 20px;
   }
  .tambalan {
    color: white;
    font-size: 30px;
  }
   a:link, a:visited {
    color: inherit;
    text-decoration: none;
  } 
  